@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Leave Graph</h2>
    </div>
    <div class="col-md-4">
        <h2>Leave Details</h2>
    </div>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
